{erl_opts, [
		debug_info,
		{src_dirs, ["./src","./tests"] }
	]}.

{lib_dirs, ["deps"]}.
{sub_dirs, ["rel"]}.

{eunit_opts, []}.
{eunit_compile_opts, []}.

{deps, [
	{riakc, "",
		{git, "git://github.com/basho/riak-erlang-client",
		{branch, "master" } } },
	{vorperl, "",
		{git, "git://github.com/arobson/vorperl",
		{branch, "master" } } },
	{eredis, "0.*",
   		{git, "git://github.com/wooga/eredis",
		{branch, "master" } } },
	{flake, "",
		{git, "git://github.com/arobson/flake",
		{branch, "master" } } },
	{lager, "",
		{git, "git://github.com/basho/lager",
		{branch, "master" } } },
	{json_erl_jones, "",
		{git, "git://github.com/arobson/json_erl_jones",
		{branch, "master" } } },
	{meck, "0.8.1", 
		{git, "git://github.com/eproxus/meck.git", 
		{tag, "0.8.1" } } }
]}.